<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar treino</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<style>
  
</style>
<header>
    <div class="navbar">
        <ul>
          
            <li><a href="#about">Treino</a></li>
            <li><a href="#services">Evolução</a></li>
            <li><a href="#contact">Desafios</a></li>
            <li><a href="#contact">Perfil</a></li>
        </ul>
    </div>
</header>
<h6></h6>
<body>
    <div class="container-criar-treino">
        <h3>Qual grupo muscular você deseja criar treino? </h3>
        <details>
            <summary>Peito</summary>
            <p>Conteúdo 1</p>
        </details>
        <details>
            <summary>Costas</summary>
            <p>Conteúdo 2</p>
        </details>
        <details>
            <summary>Biceps</summary>
            <p>Conteúdo 3</p>
        </details>
        <details>
            <summary>Triceps</summary>
            <p>Conteúdo 4</p>
        </details>
        <details>
            <summary>Antebraço</summary>
            <p>Conteúdo 5</p>
        </details>
        <details>
            <summary>Pernas</summary>
            <p>Conteúdo 6</p>
        </details>
        <details>
            <summary>Lombar</summary>
            <p>Conteúdo 7</p>
        </details>
    </div>

</body>
<footer>
    <a href="{{ url_for('dashboard') }}">Dash</a>
</footer>

</html>