{% block title %}~
Termos e Condições{% endblock %}

{% block content %}
<p>
    Última atualização: 28 de Maio de 2024
<br>
Bem-vindo ao LIF-IT! Antes de começar a usar nosso aplicativo, leia atentamente os seguintes Termos e Condições de Uso. Ao acessar ou usar o LIF-IT, você concorda em cumprir e ser regido por estes Termos e Condições. Se você não concorda com estes termos, por favor, não utilize o aplicativo.
<br>
1. Aceitação dos Termos
Ao acessar e utilizar o aplicativo LIF-IT, você concorda em cumprir estes Termos e Condições de Uso, bem como todas as leis e regulamentos aplicáveis. Caso não concorde com algum dos termos aqui estipulados, você está proibido de usar ou acessar este aplicativo.
<br>
2. Modificações dos Termos
O LIF-IT reserva-se o direito de modificar ou atualizar estes Termos e Condições a qualquer momento, sem aviso prévio. As alterações entrarão em vigor imediatamente após sua publicação no aplicativo. É sua responsabilidade revisar periodicamente estes Termos e Condições para se manter informado sobre quaisquer alterações. O uso contínuo do aplicativo após a publicação das alterações constitui sua aceitação dos novos termos.
<br>
3. Descrição do Serviço
O LIF-IT é um aplicativo destinado a [descrever brevemente o propósito e funcionalidades principais do aplicativo]. Nós nos esforçamos para manter as informações no aplicativo precisas e atualizadas, mas não garantimos a precisão, completude ou atualidade dessas informações.
<br>
4. Cadastro de Usuário
Para utilizar certas funcionalidades do LIF-IT, pode ser necessário criar uma conta. Você concorda em fornecer informações precisas e completas ao se registrar e em manter essas informações atualizadas. Você é responsável por manter a confidencialidade de sua senha e pela segurança de sua conta.
<br>
5. Privacidade
Sua privacidade é importante para nós. Por favor, consulte nossa Política de Privacidade para obter informações detalhadas sobre como coletamos, usamos e protegemos suas informações pessoais.
<br>
6. Uso Aceitável
Você concorda em usar o LIF-IT apenas para fins legais e de acordo com estes Termos e Condições. Você não deve usar o aplicativo para:
Qualquer finalidade ilegal ou não autorizada.
Transmitir qualquer material que seja ofensivo, ameaçador, difamatório, obsceno ou de outra forma censurável.
Interferir ou interromper a operação do aplicativo ou dos servidores ou redes conectados ao aplicativo.
<br>
7. Direitos de Propriedade Intelectual
Todos os direitos de propriedade intelectual relacionados ao LIF-IT, incluindo mas não se limitando a software, gráficos, textos, vídeos, áudios, design e demais conteúdos, são de propriedade exclusiva do LIF-IT ou de seus licenciadores. Você concorda em não reproduzir, distribuir, modificar, criar obras derivadas ou explorar qualquer parte do aplicativo sem autorização expressa por escrito.
<br>
8. Limitação de Responsabilidade
O LIF-IT não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar o aplicativo, mesmo que tenhamos sido avisados da possibilidade de tais danos.
<br>
9. Indenização
Você concorda em indenizar, defender e isentar o LIF-IT, seus diretores, funcionários e afiliados de qualquer reivindicação, perda, responsabilidade, demanda, incluindo honorários advocatícios, feitos por terceiros devido ao seu uso do aplicativo ou à sua violação destes Termos e Condições.
<br>
10. Rescisão
Podemos rescindir ou suspender seu acesso ao LIF-IT imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo se você violar estes Termos e Condições. Após a rescisão, seu direito de usar o aplicativo cessará imediatamente.
<br>
11. Disposições Gerais
Estes Termos e Condições constituem o acordo integral entre você e o LIF-IT em relação ao uso do aplicativo, substituindo quaisquer acordos anteriores. Se qualquer disposição destes Termos e Condições for considerada inválida por um tribunal de jurisdição competente, a invalidade de tal disposição não afetará a validade das demais disposições, que permanecerão em pleno vigor e efeito.
<br>
12. Contato
Se você tiver alguma dúvida sobre estes Termos e Condições, entre em contato conosco pelo email: suporte@lif-it.com.
<br>
Ao utilizar o LIF-IT, você reconhece que leu, compreendeu e concorda em estar vinculado a estes Termos e Condições de Uso. Obrigado por usar o LIF-IT!
</p>
{% endblock %}
